name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4 # Action to check out your repository code
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
    - name: Install dependencies
      run: npm ci
      env:
        DATABASE_URL:  ${{ secrets.DATABASE_URL}}
        
    - name: Build project
      run: npm run build # Assumes you have a 'build' script in your package.json
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        
    - name: Run tests
      run: npm test # Assumes you have a 'test' script in your package.json
